body {
  	font-family: 'Montserrat', sans-serif;
	margin: 0;
	color: black;
  	text-align: center;
  	height: 100%;
}

h1 {
	font-family: 'Monoton', sans-serif;
}

p {
	padding: 10px;
}

/*button .plaid-button {
	font-family: 'Montserrat', sans-serif;
	border-radius: 20px !important;
	font-size: 15pt;
	margin: 20px;
	padding: 10px !important;
}

button .plaid-button:hover {
    box-shadow: 0 7px 7px 0 rgba(0,0,0,0.24), 0 7px 7px 0 rgba(0,0,0,0.19);
}

button .plaid-button:active {
  transform: translateY(2px);
}*/

.jumbotron {
	width: 30%;
	margin: 2% 35%;
	border: 2px solid #aaa;
    box-sizing: border-box;
    border-radius: 15px;
}

.jumbotron-text {
	padding-top: 10%;
	font-size: 32pt;
}

.paragraph {
	padding: 12px;
}

.globe {
	padding-bottom: 10%;
}